<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
    <meta charset="UTF-8">
    <title>Precious Gem Store</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="StoreController as store">
<header>
    <h1 align="center">Precious Gem Store</h1>
    <h2 align="center">===Welcome to the Precious Gem Store===</h2>
</header>
<div class="product" ng-repeat="product in store.products | orderBy : '-price'">
       <h3 align="center" >Gem # {{$index + 1}} : {{product.name | uppercase}} <em class="right">{{product.price | currency}}</em> </h3>
    <div ng-show = "product.images.length" ng-controller="GalleryController as gallery">
        <div class="img-wrap">
            <img ng-src="{{product.images[gallery.imageIndex]}}" class="img-thumb" />
        </div>
        <ul id="thumbs">
            <li class="small-img" ng-repeat= "image in product.images" ng-mouseover="gallery.changeImageIndex($index)">
                <img ng-src="{{image}}" width = 50px/>
            </li>
        </ul>
</div>

        <div ng-controller="tabController as tab" >


            <ul class="List-wrap">
                <li  >
                    <a href="" ng-click="tab.setTab(1)">Description</a>
                </li>
                <li >
                    <a href="" ng-click="tab.setTab(2)">Specs</a>
                </li>
                <li>
                    <a href="" ng-click="tab.setTab(3)">Reviews</a>
                </li>
            </ul>

            <blockqoute ng-show="tab.isSet(1)"> {{product.description}}</blockqoute>

           <ul class="list" ng-show="tab.isSet(2)">
               <li>
                   <strong>Shine</strong> : {{product.shine}}
               </li>
               <li>
                   <strong>Faces</strong> : {{product.faces}}
               </li>
               <li>
                   <strong>Rarity</strong> : {{product.rarity}}
               </li>
               <li>
                   <strong>Color</strong> : {{product.color}}
               </li>
           </ul>
            <ul   ng-show="tab.isSet(3)">
                <h4>Reviews</h4>
                <li ng-repeat="Review in product.reviews">

                    <strong>{{Review.stars}} Stars </strong>
                    <br />
                    {{Review.body}}
                    <br />
                    <em> By : {{Review.author}} on {{Review.createdOn | date }} </em>
                    <br />
                </li>
            </ul>
                          <form name="review_form" class="reviewForm" ng-controller="ReviewController as reviews" ng-submit="reviews.addReview(product)" ng-show="tab.isSet(3)">
                              <blockquote ng-show="reviews.Review.stars" >
                                  <strong>{{reviews.Review.stars}} Stars</strong>
                                  <br />
                                  {{reviews.Review.body}}
                                  <br />
                                  <em > By : {{reviews.Review.author}}</em>
                              </blockquote>
                              <h4 class="text-wrap">Submit a Review</h4>
                              <select ng-model="reviews.Review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="stars" class="option-wrap">
                                  <option value="">Rate the Product</option>
                              </select> <br /> <br />
                              <textarea ng-model="reviews.Review.body" placeholder="Please write about the product" title="Review" class="text-wrap"></textarea>
                              <br /> <br />
                              <input ng-model="reviews.Review.author" placeholder="abc@xyz.com" title="E-mail" type="email" class="email-wrap" />
                              <br /> <br />
                              <input type="submit" value="Submit Review" class="button-wrap"/>
                          </form>
                      </div>
                      </div>
</body>
</html>