<div class="review" >
    <ul>
        <li class="review_list" ng-repeat="review in product.reviews" >
    <h4>Reviews</h4>
    <strong>{{review.stars}} Stars</strong>
    {{review.body}}
    <em >-- {{review.author}} on {{review.createdOn | Date}}</em>
        </li>
    </ul>


    <form name="review_form" class="reviewForm" ng-controller="ReviewController as reviews" ng-submit="reviews.addReview(product)" novalidate>
        <blockquote ng-show="reviews.review.stars" >
            <strong>{{reviews.review.stars}} Stars</strong>
            {{reviews.review.body}}
            <em > -- {{reviews.review.author}}</em>
        </blockquote>
        <h4>Submit a Review</h4>
        <select ng-model="reviews.review.stars" ng-options="star for stars in [5,4,3,2,1]" title="stars" >
            <option value="">Rate the Product</option>
        </select>
        <textarea ng-model="reviews.review.body" placeholder="Please write about the product" title="Review"></textarea>
        <input ng-model="reviews.review.author" placeholder="abc@xyz.com" title="E-mail" type="email" />
        <input type="submit" value="Submit Review" />
    </form>

</div>