ul li {
    display: inline;
    list-style: none;
}
#thumbs {
    margin-left: 42%;
}
.img-wrap {
    margin-left: 44%;
}
.description p {
    font-style: italic;
    margin-left: 42%;
}
.List-wrap {
    margin-left: 41%;
}
.button-wrap {
    margin-left: 45%;
}
.option-wrap {
    margin-left: 44%;
}
.text-wrap {
    margin-left: 44%;
}
.email-wrap {
    margin-left: 44%;
}
